@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap'); 
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  ;
}
:root{
  --maincolor:#29335c;
  --maincolorlight:#576799;
--secondarycolor:#DB2B39;
--textcolor:#eee;
}

body {

	overflow-x: hidden;
	background-size: contain;
	 margin: 1
;
    width: 100vw;
    height: 100vh;
    background: #c99b2b;
}
.home{
  background: #c99b2b;
}
    .kk{
      text-align: center;
      color: white;
    }
    .Header
    {
      background-color: blue;
        position: sticky;
        top: 0px;
        padding: 4px 0px;
    }
    .topnav
    {
      display:ruby-base-container;
      background:#0B55C4;
      text-align: center;
    
      
    }
    .topnav ul
    {
      display: inline-flex;
      list-style: none;
      color: green;
    }
    .topnav ul li
    {
      width: 120px;
      margin: 10px;
      padding: 15px;
    }
    .topnav ul li a
    {
      text-decoration: none;
      color:white;
    }
.each-slide-effect {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: black;
  text-align: center;
  color: white;
}
